/* Common Style */
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.02em;
}

*::before,
*:before,
*::after,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.02em;
}

/* set html5 elements to block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
q,
s,
samp,
strike,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    margin: 0;
    line-height: inherit;
    vertical-align: top;
    border: 0 none;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: auto;
}

body {
    position: relative;
    min-width: 1000px;
    margin: 0 auto;
    font-family: 'Pretendard', 'Roboto', 'Noto Sans KR', Apple SD Gothic Neo, dotum, '돋움', sans-serif;
    word-break: normal;
    color: #fff;
    font-size: 100%;
    text-size-adjust: 100%;
    background-color: #000;

    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none; /*Firefox*/
    -ms-text-size-adjust: none; /*Ie*/
    /*-o-text-size-adjust: none; !*old versions of Opera*!*/
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    font-size: 100%;
}

html,
body {
    font-size: 100%;
}

main {
    display: block;
    background: #fff;
}

caption,
legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
}

caption {
    display: none;
}

img {
    border: none;
    vertical-align: top;
}

select,
input {
    vertical-align: top;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

hr {
    display: none;
    border: 0 none;
}

ol,
ul,
ul li {
    list-style: none;
}

em {
    font-style: normal;
}

menu li {
    list-style: none;
}

address {
    display: inline;
    font-style: normal;
}

button {
    appearance: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border-radius: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

input,
textarea,
keygen,
select,
button,
pre {
    font-family: 'Pretendard', 'Roboto', 'Noto Sans KR', Apple SD Gothic Neo, dotum, '돋움', sans-serif;
    -webkit-appearance: none;
}

strong,
em,
span {
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
}

dfn {
    font-style: normal;
}

i,
b,
u,
s {
    font-style: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
}

code {
    font-family: monospace;
}

mark {
    background-color: transparent;
}

:focus {
    outline: 0;
}

legend.show {
    position: static;
    height: auto;
    width: auto;
    font-size: inherit;
    visibility: visible;
}

.hidden {
    position: absolute;
    top: -99999px;
}

.txt-l {
    text-align: left !important;
}

.txt-c {
    text-align: center !important;
}

.txt-r {
    text-align: right !important;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

::-webkit-input-placeholder::before {
    content: "FIRST\000ASECOND\000ATHIRD";
}

::-moz-placeholder::before {
    content: "FIRST\000ASECOND\000ATHIRD";
}

:-ms-input-placeholder::before {
    content: "FIRST\000ASECOND\000ATHIRD";
}

/* 네이버웨일에서 Search Input 초기화 */
input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

/* 안드로이드 크롬브라우저 폰트크기 고정 */
.shipping-info-item .message,
.page-change-destination .item-info address > span,
.list-dots > li,
.done-review p,
.product-list-item .detail-info .basic-info,
.product-list-item .detail-info .sub-info,
.footer .desc {
    max-height: 100000px;
}


/* Header */
header {
    padding-top: 50px;
}

header h1 {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 50px;
}

header h1 a {
    color: #6a20ff
}

header nav {
    background-color: #ff2575;
    margin-top: 40px;
    padding: 10px 0
}

header nav ul {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

header nav ul li {
    flex: 1;
    border-left: 1px solid #ff89b4
}

header nav ul li:last-child {
    border-right: 1px solid #ff89b4
}

header nav ul li a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

footer {
    padding: 45px 0;
    background-color: #5f5f5f;
    text-align: center;
    font-size: 16px;
}

footer .made {
    font-size: 20px;
    font-weight: 600;
}
