.front {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;

  > ul {
    > li {
      margin-top: 20px;
      background-color: #ddd;
      border-radius: 10px;
      padding: 20px 20px;
      color: #101010;
      display: flex;
      border: 3px solid #eee;

      &:first-child {
        margin-top: 0;
      }

      > p {
        margin-right: 20px;
      }

      > div {

        p {
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }

          &.skills {
            span {
              margin-right: 10px;

              &:after {
                display: inline;
                content: ",";
              }

              &:last-child {
                margin-right: 0;

                &:after {
                  display: none;
                }
              }
            }
          }
        }

        > ul {
          margin-top: 20px;

          > li {
            margin-top: 5px;

            &:before {
              content: "-";
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
      }

      a {
        color: #258ddb;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

