.profile {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;

  .profile-image {
    margin: 0 20px;
  }

  .profile-detail {
    padding-left: 30px;

    > dl {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      > dt {
        font-size: 28px;
        font-weight: 700;
      }

      > dd {
        margin-top: 10px;
        font-size: 20px;

        ul {
          li {
            margin-top: 5px;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}