.profile {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  .profile-image {
    margin: 0 20px;
  }
  .profile-detail {
    padding-left:30px;
    > dl {
      margin-bottom: 20px;
      > dt {
        font-size: 25px;
        font-weight: 700;
      }
      > dd {
        font-size: 20px;
      }
    }
  }
}